name: Validate 'setup-cocoapods'
on:
  pull_request:
  schedule:
    - cron: 0 0 * * *

jobs:
  version-with-preinstalled:
    name: replace pre-installed version
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: setup-cocoapods
      uses: ./
      with:
        version: 1.9.0

    - name: Validate version
      run: pod --version | grep "1.9.0"

  version-without-preinstalled:
    name: install on clean machine
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Remove pre-installed version
      run: gem uninstall cocoapods --all --executables

    - name: setup-cocoapods
      uses: ./
      with:
        version: 1.5.3

    - name: Validate version
      run: pod --version | grep "1.5.3"

  version-already-installed:
    name: already installed version
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Remove pre-installed version
      run: gem uninstall cocoapods --all --executables

    - name: Install needed version
      run: gem install cocoapods -v 1.9.1

    - name: setup-cocoapods
      uses: ./
      with:
        version: 1.9.1

    - name: Validate version
      run: pod --version | grep "1.9.1"

  version-latest:
    name: install latest version
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: setup-cocoapods
      uses: ./
      with:
        version: latest

    - name: Validate version
      run: pod --version

  podfile:
    name: install version from podfile.lock
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: setup-cocoapods
      uses: ./
      with:
        podfile-path: __tests__/podfile-example/Podfile.lock

    - name: Validate version
      run: pod --version | grep "1.5.3"

    - name: setup-cocoapods
      uses: ./
      with:
        podfile-path: __tests__/podfile-example/Podfile2.lock

    - name: Validate version
      run: pod --version | grep "1.3.1"

    - name: setup-cocoapods
      uses: ./
      with:
        podfile-path: __tests__/podfile-example/Podfile3.lock

    - name: Validate version
      run: pod --version | grep "1.9.1"

  ubuntu-install:
    name: install latest on ubuntu
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: setup-ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.6'

    - name: setup-cocoapods
      uses: ./
      with:
        version: latest

    - name: Validate version
      run: pod --version